In [91]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [92]:
titles = pd.read_csv('C:/Users/rajes/Desktop/LetsUpgrade/AI-ML July20/Day 16-17/titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [93]:

import pandas as pd
titles = pd.read_csv('C:/Users/rajes/Desktop/LetsUpgrade/AI-ML July20/Day 16-17/titles.csv')
titles.head()
titles.isna().sum()
# count of titles(movies) in titles Dataframe:

len(titles)

244914

### What are the earliest two films listed in the titles dataframe?

In [94]:
titles.sort_values("year")    # sort_values() to sort the dataframe
titles.sort_values("year").head(2)   #showing first 2 records from sorted data set.

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [95]:
# Finding the count of movies have title as Hamlet

x=len(titles[titles.title=="Hamlet"])
print(x)

20

### How many movies are titled "North by Northwest"?

In [96]:

a=len(titles[titles.title=="North by Northwest"])
print(a)

1

### When was the first movie titled "Hamlet" made?

In [97]:
titles[titles.title=="Hamlet"].sort_values("year").head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [42]:
titles[titles.title=="Treasure Island"].sort_values("year")

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [51]:
len(titles[titles.year==1950])

1113

### How many movies were made in the year 1960?

In [52]:
len(titles[titles.year==1960])

1549

### How many movies were made from 1950 through 1959?

In [61]:
len(titles[(titles.year>=1950) & (titles.year<=1959)])

12934

### In what years has a movie titled "Batman" been released?

In [62]:
titles[titles.title=="Batman"].sort_values("year")

         title  year
39349   Batman  1943
240896  Batman  1989

### How many roles were there in the movie "Inception"?

In [18]:
import pandas as pd
cast = pd.read_csv('C:/Users/rajes/Desktop/LetsUpgrade/AI-ML July20/Day 16-17/cast.csv')
#cast.head(2)

x=len(cast['character'][cast.title=="Inception"])
print(x)

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [235]:

x=len(cast['character'][cast.title=="Inception"][cast.n==cast.empty])
print(x)

0

### But how many roles in the movie "Inception" did receive an "n" value?

In [236]:

x=len(cast['character'][cast.title=="Inception"][cast.n!=cast.empty])
print(x)

78

In [60]:
cast.head(1)

            title  year      name   type character     n
0  Closet Monster  2015  Buffy #1  actor   Buffy 4  31.0

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [137]:
cast['n'].dropna()
cast['n'].fillna(0)
#cast1['n'].isna()
cast[cast.title=="North by Northwest"].sort_values("n").fillna(method='ffill')

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
...,...,...,...,...,...,...
3441077,North by Northwest,1959,Maudie Prickett,actress,Elsie - Maid,16.0
3577128,North by Northwest,1959,Doris Singh,actress,First United Nations Receptionist,16.0
3599912,North by Northwest,1959,Helen Spring,actress,Bidder,16.0
3739133,North by Northwest,1959,Susan Whitney,actress,Attendant,16.0
3751311,North by Northwest,1959,Paula Winslowe,actress,Woman at Auction,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [123]:
cast[(cast.title=='Sleuth') & (cast.year==1972)].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [141]:
cast[(cast.title=='Sleuth') & (cast.year==2007)].sort_values('n').fillna(method='ffill')

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  3.0
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  3.0
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  3.0
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  3.0

7789            Fortinbras,
458904         K?nig Hamlet
555034              Laertes
1135279            Polonius
2185558             Horatio
2375993            Claudius
2664423    K?nigin Gertrude
3062023             Ophelia
3355176              Hamlet
Name: character, dtype: object

### How many roles were credited in the silent 1921 version of Hamlet?

In [181]:
x=cast['character'][(cast.title=="Hamlet")&(cast.year==1921)]
print(x)
print('total roles are:::', len(x))

7789            Fortinbras,
458904         K?nig Hamlet
555034              Laertes
1135279            Polonius
2185558             Horatio
2375993            Claudius
2664423    K?nigin Gertrude
3062023             Ophelia
3355176              Hamlet
Name: character, dtype: object
total roles are::: 9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [153]:
x=cast['character'][(cast.title=="Hamlet")&(cast.year==1996)]
print(x)
print('total roles are:::', len(x))

1731          Attendant to Claudius
95861            English Ambassador
158642           Second Gravedigger
214473        Attendant to Claudius
219554     Ghost of Hamlet's Father
250773                Cadet in Play
260225                       Hamlet
272749                     Polonius
294652                       Priest
319501        Attendant to Claudius
344365                  Laertes Mob
500916            First Gravedigger
518572                Stage Manager
576147                     Reynaldo
598618                 Guildenstern
604339                       Yorick
656817                     Lucianus
669232               Old Fortinbras
704270                      Horatio
708468                    Francisco
827066                        Priam
990819                  Player King
1074691                   Cornelius
1082161                    Claudius
1210509        Fortinbras's Captain
1316617                   Marcellus
1400732           Elsinore Courtier
1417360                     Laertes
1489191                    Barnardo
1549128                  Old Norway
1556082                  Sailor Two
1588218                     Pyrrhus
2040040                  Young Lord
2052796                     Boatman
2067657                  Fortinbras
2151526                 Rosencrantz
2154960        Fortinbras's Captain
2221910                Young Hamlet
2259675                First Player
2404091                   Voltimand
2453099                       Osric
2500066                  Sailor One
2508377                   Alexander
2737885                    Gertrude
2814220                      Hecuba
2835947       Attendant to Gertrude
2940033                      Doctor
2999610                Player Queen
3119901       Attendant to Gertrude
3154270       Attendant to Gertrude
3451003                    Prologue
3456114                  Prostitute
3728751               Second Player
3751232                     Ophelia
Name: character, dtype: object
total roles are::: 54

### How many "Hamlet" roles have been listed in all film credits through history?

In [155]:
x=cast['character'][cast.title=="Hamlet"]
#print(x)
print('total roles are:::', len(x))

total roles are::: 342

### How many people have played an "Ophelia"?

In [161]:

#Number of people is in 'name' column

x=cast['name'][cast.character=='Ophelia']
print('total number of people played role of Ophellia:::' , len(x))

total number of people played role of Ophellia::: 117

### How many people have played a role called "The Dude"?

In [163]:
x=cast['name'][cast.character=='The Dude']
print('total number of people played role of --The Dude--:::' , len(x))

total number of people played role of --The Dude--::: 19

### How many people have played a role called "The Stranger"?

In [166]:
x=cast['name'][cast.character=='The Stranger']
print('total number of people played role of --The Stranger--:::' , len(x))

total number of people played role of --The Stranger--::: 212

### How many roles has Sidney Poitier played throughout his career?

In [169]:
x=cast['character'][cast.name=='Sidney Poitier']
print(len(x))

43

### How many roles has Judi Dench played?

In [170]:
x=cast['character'][cast.name=='Judi Dench']
print(len(x))

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [208]:
cast[(cast.name=='Cary Grant') & (cast.n==2) & ((cast.year>=1940) & (cast.year<1950))].sort_values('year')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [211]:
cast[(cast.name=='Cary Grant') & (cast.n==1) & ((cast.year>=1940) & (cast.year<1950))].sort_values('year')

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [212]:
x=cast[(cast.type=='actor') & (cast.year>=1950) & (cast.year<1960)].character
print(len(x))

157738

### How many roles were available for actresses in the 1950s?

In [217]:
y=cast[(cast.type=='actress') & (cast.year>=1950) & (cast.year<1960)].character
print(len(y))

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [222]:
total_num=cast['character'][(cast.n==1) & (cast.year<=1980)]
print(len(total_num))

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [230]:
total_num=cast['character'][(cast.n==2) & (cast.year<=1980)]
print(len(total_num))

61395

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [233]:
total_num=cast['character'][((cast.n!=1 ) | (cast.n!=2)) & (cast.year<=1980)]
print(len(total_num))

1182807