# Build a decision tree model for classification and prediction on Titanic Dataset. Consider Age, Gender and Fare price as input features and Survived( Survival status) as Label or target variable.

In [1]:
#  Step1:  Classification through Decision tree model
# import required packages and libraries

import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [95]:
# load the train data set
titanic_train= pd.read_csv('C:/Users/rajes/Desktop/LetsUpgrade/AI-ML July20/Day 22-24/train.csv')
titanic_train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [97]:
# finding the mean from continuous feature "Age" and replace all the missing values with mean.
titanic_train['Age'].mean()
# create new variable for age
new_age_var=np.where(titanic_train['Age'].isnull(),32,titanic_train['Age'])
# reassign the age after replacing missing values of Age with Mean value into the new variable
titanic_train['Age']=new_age_var
#print(new_age_var)

In [98]:
# Sex or Gender is Categorical so need to convert it to Numberic. We can use LabelEncoder function
label_encoder=preprocessing.LabelEncoder()
encoded_sex=label_encoder.fit_transform(titanic_train['Sex'])

# initializing the decision tree model
tree_model=tree.DecisionTreeClassifier(max_depth=8)

# Building Tree model and fitting dep(y) and idv(x) to it.

x=pd.DataFrame(encoded_sex)  # ind variable
y=titanic_train['Survived']  # dep variable
tree_model.fit(x,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [62]:
# Visualization of Tree Model
with open("Dtree1.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=['Sex'],out_file=f);

In [ ]:
# Now taking Age,Pclass Sex and Fare all Four ind variables together to create  decision tree
predictors=pd.DataFrame([encoded_sex, titanic_train['Pclass'],titanic_train['Age'],titanic_train['Fare']]).T

tree_model.fit(X=predictors,y=titanic_train['Survived'])

In [69]:
# Visualization of Tree Model
with open("Dtree2.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=['Sex','Pclass','Age','Fare'],out_file=f);

In [100]:
# calulate Accuracy of Decision tree Model
tree_model.score(X=predictors,y=titanic_train['Survived'])

0.8965129358830146

# We have completed Classification of Dataset using Decision Tree.

# We will do Prediction of Survived Target label or variable using a Test Dataset.

In [74]:
# Load Test data set( where Survived column will not be available)
titanic_test= pd.read_csv('C:/Users/rajes/Desktop/LetsUpgrade/AI-ML July20/Day 22-24/test.csv')
titanic_test.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S

In [101]:
# finding the mean from continuous feature "Age" and replace all the missing values with mean.
titanic_test['Age'].mean()
# create new variable for age
new_age_var=np.where(titanic_test['Age'].isnull(),33,titanic_test['Age'])
# reassign the age after replacing missing values of Age with Mean value into the new variable
titanic_test['Age']=new_age_var
#print(new_age_var)

In [128]:
# Sex or Gender is Categorical so need to convert it to Numberic. We can use LabelEncoder function
label_encoder=preprocessing.LabelEncoder()
encoded_sex_test=label_encoder.fit_transform(titanic_test['Sex'])

test_features=pd.DataFrame([encoded_sex_test,titanic_test['Age'],titanic_test['Fare']]).T

# initiazing the prediction variable based on training model we had created earlier
test_preds=tree_model.predict(X=test_features)

# initializing the output variable of prediction
prediction_output=pd.DataFrame({'PassengerId':titanic_test['PassengerId'],'Survived':test_preds})

# storing result into a csv file named Output.csv. This file will show the result for each PassengerId.(Survived=0 or 1)
prediction_output.to_csv("Output1.csv",index=False);

# Random Forest Model classfication

In [103]:
# Using Random Forest Model to indentify the important Features( Ind variables)in data set.
from sklearn.ensemble import RandomForestClassifier
titanic_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [106]:
label_encoder=preprocessing.LabelEncoder()
titanic_train['Sex']=label_encoder.fit_transform(titanic_train['Sex'])
titanic_train['Embarked']=label_encoder.fit_transform(titanic_train['Embarked'])
# Create Random Forest Model
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

# Features
features=['Sex','Pclass','Age','Embarked','Fare','SibSp']

# fitting these features to RF model
rf_model.fit(X=titanic_train[features],y=titanic_train['Survived'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [107]:
# printing oob_score to see the accuracy after we increased the ind variables in analysis
print("OOB Score is::")
print(rf_model.oob_score_)

#  Accuracy score is decresed from 88 pct to 81 pct now.

OOB Score is::
0.813273340832396

In [108]:
# Using RF Algorithm we will analyze the importance of each features now::
# Iterate in each feature
for feature, imp in zip(features,rf_model.feature_importances_):
        print(feature,imp)

Sex 0.26885868724318795
Pclass 0.08774324010390407
Age 0.2707907437376605
Embarked 0.034239385183701676
Fare 0.28581737877877894
SibSp 0.052550564952766894

# We see that Sex, Age and Fare features have values above 0.2 so they play important role in decision/result/prediction.Other fetatues are not much important.

# As part of the assignment, Will consider 3 IDVs as Age, Sex and Fare to find the accuracy of the Tree model.

In [138]:
# Consider Age, Sex and Fare as ind variables together to create  decision tree accuracy score
titanic_train['Age'].mean()
# create new variable for age
new_age_var1=np.where(titanic_train['Age'].isnull(),32,titanic_train['Age'])
# reassign the age after replacing missing values of Age with Mean value into the new variable
titanic_train['Age']=new_age_var1
titanic_train['Sex']=label_encoder.fit_transform(titanic_train['Sex'])
predictors_new=pd.DataFrame([titanic_train['Sex'],titanic_train['Age'],titanic_train['Fare']]).T
tree_model.fit(X=predictors_new,y=titanic_train['Survived'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [140]:

# calulate Accuracy of Decision tree Model
tree_model.score(X=predictors_new,y=titanic_train['Survived'])

0.8706411698537683

In [111]:
# Features
features=['Sex','Age','Fare']

# fitting these features to RF model
rf_model.fit(X=titanic_train[features],y=titanic_train['Survived'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [112]:
print(rf_model.oob_score_)

0.7896512935883014